@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@500;900&display=swap');

* {
    box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
main,
div,
p,
ul,
dl,
dd,
dt,
ul,
ol,
li,
table,
thead,
tbody,
tfoot,
tr,
th,
td,
img,
address,
figure,
blockquote {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    font-family: "Zen Kaku Gothic Antique", sans-serif;
    color: #101010;
}

ul, ol {
    padding-left: 1em;
}

ul {
    list-style-type: "･";
}

a {
    color: inherit;
    text-decoration: none;

    &:active, &:hover {
        text-decoration: underline;
    }
}

.text-block {
    margin-top: 20px;
}

.title-text {
    font-weight: 900;
}

.caption-text {
    font-size: 12px;
}

.stack-panel {
    padding: 0;
    display: flex;
    gap: 2em;

    &.vertical {
        flex-direction: column;
    }

    & > .stack-panel-item {
        flex: inital;

        &.stretch {
            flex: auto;
        }
    }

    & > li.stack-panel-item {
        list-style-type: none;
    }
}

.container {
    width: 100%;
    min-height: 100%;
    padding: 80px 1em 20px 1em;
}

@media screen and (min-width: 800px) {
    .container {
        padding: 100px 20em 60px 20em;
    }
}

