html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
main,
div,
p,
ul,
dl,
dd,
dt,
ul,
ol,
li,
table,
thead,
tbody,
tfoot,
tr,
th,
td,
img,
address,
figure {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    vertical-align: baseline;
    text-align: left;
    box-sizing: border-box;
    letter-spacing: inherit;
    line-height: inherit;
    font-size: inherit;
    font-weight: inherit;
}

img {
    vertical-align: bottom;
}

sup,
sub {
    line-height: 0.5em;
    font-size: 0.5em;
}

address {
    font-style: normal;
}

table {
    border-spacing: 0;
}

ul {
    list-style-type: "・";
}

code {
    font-family: "Consolas", "Murecho", monospace;
}

/* 文字体裁 */

html,
body {
    color: #404040;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 20px;
    font-size: 15px;
}

.caption-text {
    line-height: 16px;
    font-size: 12px;
}

.body-text {
    line-height: 20px;
    font-size: 15px;
}

.subtitle-text {
    line-height: 24px;
    font-size: 18px;
}

.title-text {
    line-height: 28px;
    font-size: 22.5px
}

.accentuate-text {
    font-weight: 900;
}

/* リンク */

a:link {
    text-decoration: underline;
    color: #404040;
}

a:hover,
a:active {
    text-decoration: underline;
    color: #606060;
}

a:visited {
    text-decoration: underline;
    color: #808080;
}

a:visited:hover,
a:visited:active {
    text-decoration: underline;
    color: #a0a0a0;
}

a.navigation-highlight {
    text-decoration: none;
}

a.navigation-highlight:visited {
    color: #404040;
}

a.navigation-highlight:visited:hover,
a.navigation-highlight:visited:active {
    color: #606060;
}

/* レイアウト */

.stack-panel.horizontal {
    display: flex;
    flex-direction: row;
}

.stack-panel.vertical {
    display: flex;
    flex-direction: column;
}

.stack-panel.wrappable {
    flex-wrap: wrap;
}

.stack-panel-item {
    display: block;
}

.stretch-fit {
    flex: 0 0 auto;
}

.stretch-cover {
    flex: 1 1 auto;
}

.list-view {
    list-style-type: none;
}

:root {
    --vertical-gap-0-5: 8px;
    --vertical-gap-1: 20px;
    --vertical-gap-2: 40px;
    --vertical-gap-4: 80px;
    --horizontal-gap-1: 1.04167vw;
    --horizontal-gap-2: 4.166667vw;
    --horizontal-gap-3: 6.25vw;
    --column-width-1: 21.09375vw
}

.letterpress-compressed+.letterpress-compressed {
    margin-top: 12px;
}

.letterpress+.letterpress {
    margin-top: 20px;
}

.topic+.topic {
    margin-top: 40px;
}

.separated+.separated {
    margin-top: 80px;
}

.framework {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    row-gap: var(--vertical-gap-2);
}

@media screen and (min-width: 801px) {
    .framework{
        padding-top: var(--vertical-gap-4);
        padding-bottom: var(--vertical-gap-1);
        padding-left: var(--horizontal-gap-3);
        padding-right: var(--horizontal-gap-3);
    }
}

.framework>header {
    flex: 0 0 auto;
}

.framework>main {
    flex: 1 1 auto;
}

.framework>footer {
    flex: 0 0 auto;
}

/* logo */

.logo>a {
    display: flex;
    flex-flow: row;
}

.logo>.icon {
    flex: 0 0 68px;
}

/* main */

main {
    display: flex;
    flex-flow: column nowrap;
    row-gap: var(--vertical-gap-4);
    column-gap: var(--horizontal-gap-1);
}

@media screen and (min-width: 801px) {
    main {
        flex-flow: row nowrap;
    }

    .nav {
        flex: 0 0 var(--column-width-1);
    }

    .profile {
        margin-left: auto;
        flex: 0 0 var(--column-width-1);
    }

    .content {
        flex: 0 1 calc(var(--column-width-1) * 2 + var(--horizontal-gap-1))
    }
}

.shift-by-logo {
    margin-left: 68px;
}

.destination-of-hikari {
    padding-bottom: calc(var(--vertical-gap-2) - 1px);
    border-bottom: 1px solid #000;
}

.stack-panel.profile-details {
    column-gap: 40px;
}

table.data tr th,
table.data tr td {
    padding-top: 20px;
    padding-right: 20px;
}

table.data tr:first-child th,
table.data tr:first-child td {
    padding-top: 0;
    padding-right: 0;
}

/* markdown elements */

.markdown > * + * {
    margin-top: 20px;
}

.markdown > * + h1,
.markdown > * + h2,
.markdown > * + h3,
.markdown > * + h4,
.markdown > * + h5,
.markdown > * + h6 {
    margin-top: 40px;
    font-weight: bold;
}

.markdown ul,
.markdown ol {
    margin-left: 1em;
}

.markdown table {
    margin-top: 40px;
    margin-bottom: 40px;
}

.markdown table:first-child {
    margin-top: 0;
}

.markdown table:last-child {
    margin-bottom: 0;
}

.markdown table th,
.markdown table td {
    padding-left: 2em;
    padding-top: var(--vertical-gap-1);
    padding-bottom: calc(var(--vertical-gap-1) - 1px);
    border-top: 1px solid #000000;
}

@media screen and (min-width: 801px) {
    .markdown table th,
    .markdown table td {
        padding-left: 4em;
    }
} 

.markdown table th:first-child,
.markdown table td:first-child {
    padding-left: 0px;
    white-space: nowrap;
}

.markdown table tr:first-child th,
.markdown table tr:first-child td {
    padding-top: 0px;
    border-top-width: 0px;
}

.markdown table tr:last-child th,
.markdown table tr:last-child td {
    padding-bottom: 0px;
}

.markdown code {
    padding: 0px 0.25em;
    display: inline-block;
    background-color: #f0f0f0;
    font-size: 12px;
}