@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@400;900&display=swap');

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
main,
div,
p,
ul,
dl,
dd,
dt,
ul,
ol,
li,
table,
thead,
tbody,
tfoot,
tr,
th,
td,
img,
address,
figure {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    vertical-align: baseline;
    text-align: left;
    box-sizing: border-box;
    letter-spacing: inherit;
    line-height: inherit;
    font-size: inherit;
    font-weight: inherit;
}

img {
    vertical-align: bottom;
}

sup,
sub {
    line-height: 0.5em;
    font-size: 0.5em;
}

address {
    font-style: normal;
}

table {
    border-spacing: 0;
}

ul {
    list-style-type: "・";
}

/* 文字体裁 */

html,
body {
    height: 100%;
    letter-spacing: -0.02em;
    color: #000000;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    font-feature-settings: "calt", "clig", "kern", "liga", "locl", "rlig";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 20px;
    font-size: 15px;
}

.caption-text {
    line-height: 16px;
    font-size: 12px;
}

.body-text {
    line-height: 20px;
    font-size: 15px;
}

.subtitle-text {
    line-height: 24px;
    font-size: 18px;
}

.title-text {
    line-height: 28px;
    font-size: 22.5px
}

.accentuate-text {
    font-weight: 900;
}

/* リンク */

.navigation-highlight {
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
}

.navigation-highlight:link,
.navigation-highlight:visited {
    color: #000000;
}

.navigation-highlight:hover {
    color: rgba(0, 0, 0, 0.8);
}

.navigation-highlight img {
    filter: contrast(90%) brightness(110%);
}

.navigation-highlight:active {
    color: rgba(0, 0, 0, 0.75);
}

.navigation-highlight img {
    filter: contrast(75%) brightness(125%);
}

.navigation-highlight.dark:link,
.navigation-highlight.dark:visited,
.dark .navigation-highlight:link,
.dark .navigation-highlight:visited {
    color: #ffffff;
}

.navigation-highlight.dark:hover,
.dark .navigation-highlight:hover {
    color: rgba(255, 255, 255, 0.8);
}

.navigation-highlight.dark:active,
.dark .navigation-highlight:active {
    color: rgba(255, 255, 255, 0.75);
}

.link-highlight {
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;
}

.link-highlight:link,
.link-highlight:visited {
    color: #000000;
}

.link-highlight:hover {
    color: rgba(0, 0, 0, 0.8);
}

.link-highlight img {
    filter: contrast(90%) brightness(110%);
}

.link-highlight:active {
    color: rgba(0, 0, 0, 0.75);
}

.link-highlight img {
    filter: contrast(75%) brightness(125%);
}

.link-highlight.dark:link,
.link-highlight.dark:visited,
.dark .link-highlight:link,
.dark .link-highlight:visited {
    color: #ffffff;
}

.link-highlight.dark:hover,
.dark .link-highlight:hover {
    color: rgba(255, 255, 255, 0.8);
}

.link-highlight.dark:active,
.dark .link-highlight:active {
    color: rgba(255, 255, 255, 0.75);
}

/* レイアウト */

.stack-panel.horizontal {
    display: flex;
    flex-direction: row;
}

.stack-panel.vertical {
    display: flex;
    flex-direction: column;
}

.stack-panel.wrappable {
    flex-wrap: wrap;
}

.stack-panel-item {
    display: block;
}

.stretch-fit {
    flex: 0 0 auto;
}

.stretch-cover {
    flex: 1 1 auto;
}

.list-view {
    list-style-type: none;
}

:root {
    --vertical-gap-0-5: 8px;
    --vertical-gap-1: 20px;
    --vertical-gap-2: 40px;
    --vertical-gap-4: 80px;
    --horizontal-gap-1: 1.04167vw;
    --horizontal-gap-2: 4.166667vw;
    --horizontal-gap-3: 6.25vw;
    --column-width-1: 21.09375vw
}

.letterpress-compressed+.letterpress-compressed {
    margin-top: 12px;
}

.letterpress+.letterpress {
    margin-top: 20px;
}

.topic+.topic {
    margin-top: 40px;
}

.separated+.separated {
    margin-top: 80px;
}

.framework {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    row-gap: var(--vertical-gap-2);
}

@media screen and (min-width: 801px) {
    .framework{
        padding-top: var(--vertical-gap-4);
        padding-bottom: var(--vertical-gap-1);
        padding-left: var(--horizontal-gap-3);
        padding-right: var(--horizontal-gap-3);
    }
}

.framework>header {
    flex: 0 0 auto;
}

.framework>main {
    flex: 1 1 auto;
}

.framework>footer {
    flex: 0 0 auto;
}

/* logo */

.logo>a {
    display: flex;
    flex-flow: row;
}

.logo>.icon {
    flex: 0 0 68px;
}

/* main */

main {
    display: flex;
    flex-flow: column nowrap;
    row-gap: var(--vertical-gap-4);
    column-gap: var(--horizontal-gap-1);
}

@media screen and (min-width: 801px) {
    main {
        flex-flow: row nowrap;
    }

    .nav {
        flex: 0 0 var(--column-width-1);
    }

    .profile {
        margin-left: auto;
        flex: 0 0 var(--column-width-1);
    }

    .content {
        flex: 0 1 calc(var(--column-width-1) * 2 + var(--horizontal-gap-1))
    }
}

.shift-by-logo {
    margin-left: 68px;
}

.destination-of-hikari {
    padding-bottom: calc(var(--vertical-gap-2) - 1px);
    border-bottom: 1px solid #000;
}

.stack-panel.profile-details {
    column-gap: 40px;
}

table.data tr th,
table.data tr td {
    padding-top: 20px;
    padding-right: 20px;
}

table.data tr:first-child th,
table.data tr:first-child td {
    padding-top: 0;
    padding-right: 0;
}

/* markdown elements */

.markdown > * + * {
    margin-top: 20px;
}

.markdown > * + h1,
.markdown > * + h2,
.markdown > * + h3,
.markdown > * + h4,
.markdown > * + h5,
.markdown > * + h6 {
    margin-top: 60px;
    font-weight: bold;
}

.markdown > ul,
.markdown > ol {
    margin-left: 1em;
}