---
layout: default
---

<div class="body master-grid">
    <nav class="nav">
        <ul class="shift-by-logo list-view">
            <li class="list-view-item letterpress"><a href="{{ site.url }}" class="navigation-highlight">PROFILE</a></li>
            <li class="list-view-item letterpress"><a href="{{ site.url }}/notes" class="navigation-highlight">NOTES</a></li>
            <li class="list-view-item letterpress"><a href="{{ site.url }}/projects" class="navigation-highlight">PROJECTS</a></li>
        </ul>
    </nav>
    {{ content }}
</div>
